@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
img{
    margin: 0 0 0 160px;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
.ava{
    margin: 0 0 0 700px;
}
.prevy{
    margin: 7px 0 0 0;
}
.zvyk{
    margin: 7px 0 0 0;
}
.montaz{
    margin: 7px 0 0 0;
}
